<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<table>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
